version: '3.7'

services:
  traefik:
    image: "traefik:v2.2"
    command:
      - "--api.insecure=true"

      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      - "--entrypoints.http.address=:80"
      - "--entrypoints.https.address=:443"
      # - "--entrypoints.http.http.redirections.entryPoint.to=https"
      # - "--entrypoints.http.http.redirections.entryPoint.scheme=https"

    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik_data:/letsencrypt"
    labels:
      - "traefik.enable=false"

  api:
    image: registry.osiris.services/anubis/api:latest
    build: ./api
    command: sh -c "while true; do python3 dev.py; sleep 1; done"
    environment:
      - "DEBUG=1"
      - "DB_HOST=db"
      - "THEIA_DOMAIN=ide.localhost"
    volumes:
      - "./api:/opt/app"
    labels:
      - "traefik.enable=true"

      - "traefik.http.services.api.loadbalancer.server.port=5000"
      - "traefik.http.middlewares.strip-api.stripprefix.prefixes=/api"

      # Public router without auth
      - "traefik.http.routers.api-public.rule=Host(`localhost`) && PathPrefix(`/api/`)"
      - "traefik.http.routers.api-public.entrypoints=http,https"
      - "traefik.http.routers.api-public.middlewares=strip-api@docker"

  api-dev:
    image: registry.osiris.services/anubis/api-dev:latest
    build:
      context: ./api
      dockerfile: Dockerfile.dev
    environment:
      - "DISABLE_ELK=1"
      - "DB_HOST=db"
      - "DEBUG=1"
    command: ./docker-entrypoint-dev.sh
    ports:
      - "127.0.0.1:5003:5003"
    volumes:
      - "./api:/opt/app"
    labels:
      - "traefik.enable=false"

  pipeline-api:
    build: ./api
    image: registry.osiris.services/anubis/api:latest
    environment:
      - "DEBUG=1"
      - "DB_HOST=db"
      - "CREATE_APP_FUNCTION=create_pipeline_app"
      - "GUNICORN_OPTIONS=--reload"
    ports:
      - 127.0.0.1:5004:5004
    volumes:
      - "./api:/opt/app"
    labels:
      - "traefik.enable=false"

  rpc-worker:
    build: ./api
    command: "rq worker -u redis://:anubis@redis-master"
    environment:
      - "DEBUG=1"
      - "DB_HOST=db"
    volumes:
      - "./api:/opt/app"
    labels:
      - "traefik.enable=false"

  web:
    image: registry.osiris.services/anubis/web:latest
    build: ./web
    command: sh -c 'yarn && yarn run start'
    environment:
      NODE_ENV: development
      REACT_APP_DEV: dev
    volumes:
      - ./web:/opt/app
    ports:
      - 127.0.0.1:3000:3000
    labels:
      - "traefik.enable=true"

      - "traefik.http.services.web.loadbalancer.server.port=3000"

      - "traefik.http.routers.web-public.rule=Host(`localhost`)"
      - "traefik.http.routers.web-public.entrypoints=http,https"

  db:
    image: mariadb:10.5.5
    dns: [8.8.8.8]
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      - "MYSQL_ROOT_PASSWORD=anubis"
      - "MYSQL_DATABASE=anubis"
      - "MYSQL_USER=anubis"
      - "MYSQL_PASSWORD=anubis"
    volumes:
      - "db_data:/var/lib/mysql"
    labels:
      - "traefik.enable=false"

  adminer:
    image: adminer:4
    ports:
      - 127.0.0.1:5002:8080
    environment:
      - "ADMINER_DEFAULT_SERVER=db"
    labels:
      - "traefik.enable=false"

  redis-master:
    image: redis:latest
    command: redis-server --requirepass anubis
    ports:
      - "127.0.0.1:6379:6379"
    labels:
      - "traefik.enable=false"

  elasticsearch-coordinating:
    image: elasticsearch:7.10.1
    environment:
      - "discovery.type=single-node"
    volumes:
      - el_data:/usr/share/elasticsearch/data
      - "/usr/share/zoneinfo/America/New_York:/etc/localtime:ro"
    labels:
      - "traefik.enable=false"

  logstash:
    image: registry.osiris.services/anubis/logstash:latest
    build: ./logstash
    labels:
      - "traefik.enable=false"

  kibana:
    image: kibana:7.10.1
    ports:
      - 127.0.0.1:5001:5601
    volumes:
      - "/usr/share/zoneinfo/America/New_York:/etc/localtime:ro"

  theia-xv6:
    image: registry.osiris.services/anubis/theia-xv6:latest
    build: ./theia/ide/xv6

  theia-admin:
    image: registry.osiris.services/anubis/theia-admin:latest
    build: ./theia/ide/admin

  theia-proxy:
    image: registry.osiris.services/anubis/theia-proxy:latest
    build: ./theia/proxy

  theia-init:
    image: registry.osiris.services/anubis/theia-init:latest
    build: ./theia/init

  theia-sidecar:
    image: registry.osiris.services/anubis/theia-sidecar:latest
    build: ./theia/sidecar

volumes:
  traefik_data:
  db_data:
  el_data:
