version: '3.7'

services:
  traefik:
    image: "traefik:v2.0.0-rc3"
    command:
      - "--api.insecure=true"

      - "--providers.docker=true"
      - "--providers.docker.watch"
      - "--providers.docker.exposedbydefault=false"

      - "--entrypoints.http.address=:80"
      - "--entrypoints.https.address=:443"

      - "--certificatesresolvers.tls.acme.httpchallenge=true"
      - "--certificatesresolvers.tls.acme.httpchallenge.entrypoint=http"
      - "--certificatesresolvers.tls.acme.email=${ACME_EMAIL}"
      - "--certificatesresolvers.tls.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik_data:/letsencrypt"
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      
      - "traefik.http.middlewares.traefik-auth.basicauth.users=${AUTH}"
      - "traefik.http.middlewares.traefik-auth.basicauth.removeheader=true"
    
      - "traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN}`)"
      - "traefik.http.routers.traefik.entrypoints=https"
      - "traefik.http.routers.traefik.tls.certresolver=tls"
      - "traefik.http.routers.traefik.middlewares=traefik-auth@docker"
      - "traefik.http.middlewares.traefik.redirectscheme.scheme=https"
      #- "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
    
      - "traefik.http.middlewares.redirect.redirectregex.regex=^http://(.*)"
      - "traefik.http.middlewares.redirect.redirectregex.replacement=https://$$1"

  db:
    build: ./db
    dns: [8.8.8.8]
    environment:
      - "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}"
      - "MYSQL_DATABASE=os"
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - "db_data:/var/lib/mysql"
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=false"

  api:
    build: api
    networks:
      - traefik-proxy
    depends_on: [db]
    labels:
      - "traefik.enable=true"
      
      - "traefik.http.routers.api-http.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.api-http.entrypoints=http"
      - "traefik.http.routers.api-http.middlewares=redirect"      

      - "traefik.http.services.api.loadbalancer.server.port=5000"

      # private route with auth
      - "traefik.http.routers.api-private.rule=Host(`${DOMAIN}`) && PathPrefix(`/private/`)"
      - "traefik.http.routers.api-private.entrypoints=https"
      - "traefik.http.routers.api-private.tls.certresolver=tls"
      - "traefik.http.middlewares.api-private.redirectscheme.scheme=https"
      - "traefik.http.routers.api-private.middlewares=traefik-auth@docker"

      # Public router without auth
      - "traefik.http.routers.api-public.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.api-public.entrypoints=https"
      - "traefik.http.routers.api-public.tls.certresolver=tls"
      - "traefik.http.middlewares.api-public.redirectscheme.scheme=https"

  redis:
    image: redis:5
    ports:
      - "127.0.0.1:6379:6379"
    networks:
      - traefik-proxy
    volumes:
      - "redis_data:/data"
    labels:
      - "traefik.enable=false"

  worker:
    build: api
    command: rq worker -u redis://redis
    networks:
      - traefik-proxy
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
    labels:
      - "traefik.enable=false"


networks:
  traefik-proxy:
    name: traefik-proxy


volumes:
  traefik_data:
  redis_data:
  db_data:
  
