apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-api
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: api
spec:
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      component: api
  replicas: {{- if not .Values.offSemester }} {{ .Values.api.replicas }}{{- else }} 1{{- end }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- if .Values.rollingUpdates }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "chart.labels" . | nindent 8 }}
        component: api
    spec:
      {{- if and .Values.nodeSelector (not .Values.debug) }}
      nodeSelector:
        {{ .Values.nodeSelector | toYaml }}
      {{- end }}
      containers:
      - name: api
        image: "{{ .Values.api.image }}:{{ .Values.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 2000m
            memory: 500Mi
        ports:
        - name: web
          containerPort: 5000
        env:
        # Gunicorn workers
        - name: "WORKERS"
          value: {{ .Values.api.workers | quote }}
        {{- if .Values.api.gunicorn_options }}
        - name: "GUNICORN_OPTIONS"
          value: {{ .Values.api.gunicorn_options | quote }}
        {{- end }}
        {{- include "api.env" . | nindent 8 }}
        {{- if .Values.healthChecks }}
        startupProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 3
          failureThreshold: 60
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          failureThreshold: 10
          periodSeconds: 60
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 3
          failureThreshold: 1
        {{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-api
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: api
spec:
  selector:
    {{- include "chart.selectorLabels" . | nindent 4 }}
    component: api
  ports:
  - name: web
    port: 5000
    targetPort: 5000

