apiVersion: apps/v1
kind: Deployment
metadata:
  name: anubis-api
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: anubis
    component: api
    heritage: {{ .Release.Service | quote }}
    release: {{ .Release.Name | quote }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: anubis
      component: api
  replicas: {{ .Values.api.replicas }}
  {{- if .Values.rollingUpdates }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  {{- end }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: anubis
        component: api
    spec:
      containers:
      - name: api
        image: {{ .Values.api.image }}:{{ .Values.api.tag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 2
            memory: 500Mi
        ports:
        - name: web
          containerPort: 5000
        env:
        - name: "DEBUG"
          value: {{- if .Values.debug }} "1"{{- else }} "0"{{- end }}
        - name: "MIGRATE"
          value: "0"
        - name: "DISABLE_ELK"
          value: "0"
        # Gunicorn workers
        - name: "WORKERS"
          value: {{ .Values.api.workers | quote }}
        - name: "DOMAIN"
          value: "{{ .Values.domain }}"
        {{- if .Values.api.gunicorn_options }}
        - name: "GUNICORN_OPTIONS"
          value: {{ .Values.api.gunicorn_options | quote }}
        {{- end }}
        - name: "GITHUB_TOKEN"
          valueFrom:
            secretKeyRef:
              name: git
              key: token
        - name: "SECRET_KEY"
          valueFrom:
            secretKeyRef:
              name: api
              key: secret-key
        - name: "OAUTH_NYU_CONSUMER_KEY"
          valueFrom:
            secretKeyRef:
              name: oauth
              key: nyu-consumer-key
        - name: "OAUTH_NYU_CONSUMER_SECRET"
          valueFrom:
            secretKeyRef:
              name: oauth
              key: nyu-consumer-secret
        - name: "OAUTH_GITHUB_CONSUMER_KEY"
          valueFrom:
            secretKeyRef:
              name: oauth
              key: github-consumer-key
        - name: "OAUTH_GITHUB_CONSUMER_SECRET"
          valueFrom:
            secretKeyRef:
              name: oauth
              key: github-consumer-secret
        - name: "DATABASE_URI"
          valueFrom:
            secretKeyRef:
              name: api
              key: database-uri
        - name: "DB_PASSWORD"
          valueFrom:
            secretKeyRef:
              name: api
              key: database-password
        - name: "DB_HOST"
          valueFrom:
            secretKeyRef:
              name: api
              key: database-host
        - name: "DB_PORT"
          valueFrom:
            secretKeyRef:
              name: api
              key: database-port
        - name: "REDIS_PASS"
          valueFrom:
            secretKeyRef:
              name: api
              key: redis-password
        {{- if .Values.healthChecks }}
        startupProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 3
          failureThreshold: 60
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 60
          failureThreshold: 10
          periodSeconds: 60
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 3
          failureThreshold: 1
        {{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: anubis-api
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: anubis
    component: api
    heritage: {{ .Release.Service | quote }}
    release: {{ .Release.Name | quote }}
spec:
  selector:
    app.kubernetes.io/name: anubis
    component: api
  ports:
  - name: web
    port: 5000
    targetPort: 5000

