
{{- if .Values.autograde_reaper.enable }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "chart.fullname" . }}-autograde-reaper
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: autograde-reaper
spec:
  schedule: {{ .Values.autograde_reaper.schedule | quote }}
  suspend: {{ .Values.autograde_reaper.suspend }}
  concurrencyPolicy: Replace
  jobTemplate:
    metadata:
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
        component: autograde-reaper
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: autograde-reaper
            image: "{{ .Values.api.image }}:{{ .Values.tag }}"
            imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
            command: ["python3", "anubis/jobs/autograde_reaper.py"]
            env:
            {{- include "api.env" . | nindent 12 }}
{{- end }}
