{{- if .Values.discordbot.enable }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-discord-bot
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: discord-bot
spec:
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      component: discord-bot
  replicas: {{ .Values.discordbot.replicas }}
  {{- if .Values.rollingUpdates }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  {{- end }}
  template:
    metadata:
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
        component: discord-bot
    spec:
      containers:
      - name: discord-bot
        image: "{{ .Values.api.image }}:{{ .Values.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command: ["python3", "anubis/jobs/discord_bot.py"]
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 2
            memory: 500Mi
        env:
        - name: "DISCORD_BOT_TOKEN"
          valueFrom:
            secretKeyRef:
              name: api
              key: discord-bot-token
        {{- include "api.env" . | nindent 8 }}

{{- end }}
