{{- if .Values.hpa.enable }}
{{- if not .Values.debug }}

apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: anubis-api
  namespace: {{ .Release.Namespace }}
spec:
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 120
      policies:
      - type: Percent
        value: 200
        periodSeconds: 120
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: anubis-api
  minReplicas: {{ .Values.api.replicas }}
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 100

---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: anubis-web
  namespace: {{ .Release.Namespace }}
spec:
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 120
      policies:
      - type: Percent
        value: 200
        periodSeconds: 120
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: anubis-web
  minReplicas: {{ .Values.web.replicas }}
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 100

---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: anubis-theia-proxy
  namespace: {{ .Release.Namespace }}
spec:
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 120
      policies:
      - type: Percent
        value: 100
        periodSeconds: 120
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: anubis-theia-proxy
  minReplicas: {{ .Values.theia.proxy.replicas }}
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 75

---
{{- range .Values.hpa.rpc }}
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: anubis-{{ .name }}
  namespace: {{ $.Release.Namespace }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: anubis-{{ .name }}
  minReplicas: {{ $.Values.rpc.replicas }}
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 100
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 120
      selectPolicy: Max
      policies:
      - type: Percent
        value: 200
        periodSeconds: 20
    scaleDown:
      stabilizationWindowSeconds: 30
      selectPolicy: Max
      policies:
      - type: Percent
        value: 100
        periodSeconds: 30
---
{{- end }}

{{- end }}
{{- end }}
