
{{- if .Values.reaper.enable }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: anubis-reaper
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: anubis-reaper
    component: "anubis-reaper"
    heritage: {{ .Release.Service | quote }}
    release: {{ .Release.Name | quote }}
spec:
  schedule: {{ .Values.reaper.schedule | quote }}
  suspend: {{ .Values.reaper.suspend }}
  concurrencyPolicy: Replace
  jobTemplate:
    metadata:
      labels:
        app.kubernetes.io/name: anubis
        component: reaper-job
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: reaper
            image: "{{ .Values.api.image }}:{{ .Values.api.tag }}"
            imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
            command: ["python3", "jobs/reaper.py"]
            env:
            - name: "PYTHONPATH"
              value: "/opt/app"
            - name: "DEBUG"
              value: {{- if .Values.debug }} "1"{{- else }} "0"{{- end }}
            - name: "JOB"
              value: "1"
            - name: "DISABLE_ELK"
              value: "0"
            - name: "LOGGER_NAME"
              value: "reaper"
            - name: "DOMAIN"
              value: "{{ .Values.domain }}"
            - name: "GITHUB_TOKEN"
              valueFrom:
                secretKeyRef:
                  name: git
                  key: token
            - name: "REDIS_PASS"
              valueFrom:
                secretKeyRef:
                  name: api
                  key: redis-password
            - name: "DATABASE_URI"
              valueFrom:
                secretKeyRef:
                  name: api
                  key: database-uri
            - name: "DB_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: api
                  key: database-password
            - name: "DB_HOST"
              valueFrom:
                secretKeyRef:
                  name: api
                  key: database-host
            - name: "DATABASE_PORT"
              valueFrom:
                secretKeyRef:
                  name: api
                  key: database-port
{{- end }}
