
{{- if .Values.reaper.enable }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "chart.fullname" . }}-reaper
  labels:
    {{- include "chart.selectorLabels" . | nindent 4 }}
    component: reaper
spec:
  schedule: {{ .Values.reaper.schedule | quote }}
  suspend: {{ .Values.reaper.suspend }}
  concurrencyPolicy: Replace
  jobTemplate:
    metadata:
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
        component: reaper-job
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: reaper
            image: "{{ .Values.api.image }}:{{ .Values.tag }}"
            imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
            command: ["python3", "jobs/reaper.py"]
            env:
            - name: "JOB"
              value: "1"
            {{- include "api.env" . | nindent 12 }}
{{- end }}
