{{- if .Values.theia.enable }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-theia-proxy
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: proxy
spec:
  replicas: {{- if not .Values.offSemester }} {{ .Values.theia.proxy.replicas }}{{- else }} 1{{- end }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- if .Values.rollingUpdates }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  {{- end }}
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      component: proxy
  template:
    metadata:
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
        component: proxy
    spec:
      {{- if and .Values.nodeSelector (not .Values.debug) }}
      nodeSelector:
        {{ .Values.nodeSelector | toYaml }}
      {{- end }}
      dnsPolicy: 'ClusterFirst'
      dnsConfig:
        nameservers:
          - 1.1.1.1
      containers:
      - name: proxy
        image: "{{ .Values.theia.proxy.image }}:{{ .Values.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        {{- if .Values.debug }} 
        args: [ "--debug" ]
        {{- end -}}
        {{- if not .Values.debug }}
        resources:
          requests:
            cpu: 250m
            memory: 250Mi
          limits:
            cpu: 2000m
            memory: 500Mi
        {{- end }}
        ports:
        - name: http
          containerPort: 5000
        env:
        {{- include "api.env" . | nindent 8 }}
        {{- if .Values.healthChecks }}
        startupProbe:
          httpGet:
            path: /ping
            port: 5000
          initialDelaySeconds: 1
          periodSeconds: 1
          failureThreshold: 60
        livenessProbe:
          httpGet:
            path: /ping
            port: 5000
          initialDelaySeconds: 60
          failureThreshold: 10
          periodSeconds: 60
        readinessProbe:
          httpGet:
            path: /ping
            port: 5000
          initialDelaySeconds: 3
          periodSeconds: 3
          failureThreshold: 1
        {{- end }}

---

apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-theia-proxy
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: proxy
spec:
  selector:
    {{- include "chart.selectorLabels" . | nindent 4 }}
    component: proxy
  ports:
    - name: http-tcp
      protocol: TCP
      port: 5000
      targetPort: 5000
    - name: http-udp
      protocol: UDP
      port: 5000
      targetPort: 5000
---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: theia-ide
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: theia
{{- if .Values.imagePullSecret }}
imagePullSecrets:
  - name: {{ .Values.imagePullSecret }}
{{- end }}

---

{{- end }}
