
apiVersion: v1
kind: ServiceAccount
metadata:
  name: theia-poller
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: poller
{{- if .Values.imagePullSecret }}
imagePullSecrets:
  - name: {{ .Values.imagePullSecret }}
{{- end }}
---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: theia-poller
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: poller
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["get", "list"]
---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: theia-poller
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: poller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: theia-poller
subjects:
  - kind: ServiceAccount
    name: theia-poller
    namespace: {{ .Release.Namespace }}
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-theia-poller
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    component: poller
spec:
  replicas: {{ .Values.theia.poller.replicas }}
  {{- if .Values.rollingUpdates }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  {{- end }}
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      component: poller
  template:
    metadata:
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
        component: poller
    spec:
      serviceAccountName: theia-poller
      containers:
      - name: poller
        image: "{{ .Values.api.image }}:{{ .Values.tag }}"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        args: ["python3", "/opt/app/anubis/jobs/ide_poller.py"]
        {{- if not .Values.debug}}
        resources:
          requests:
            cpu: 200m
            memory: 250Mi
          limits:
            cpu: 1
            memory: 500Mi
        {{- end }}
        env:
        {{- include "api.env" . | nindent 8 }}

