<html>
  <head>
    <title>Bomblab Request Form</title>
  </head>
  <body bgcolor="white">
    <h2>Bomblab Request Form</h2>
    <p>Fill in the form and then click the Submit button.</p>
    <form action="/" method="POST">
      <table>
        <tbody>
          <tr>
            <td><b>NetID</b><br><font><i>Enter your NYU NetID&nbsp;</i></font></td>
            <td><input type="text" size="32" maxlength="10" name="username" value=""></td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <td><input type="submit" value="Submit"></td>
          </tr>
        </tbody>
      </table>
    </form>
</body></html>
