flask
flask-sqlalchemy
pymysql
gunicorn
redis
rq
docker
elasticsearch
python-geoip-geolite2
python-geoip-python3
pytz
python-dateutil
Flask-Caching
flask-oauthlib
python-magic
sqlalchemy-json
flask_limiter
pyjwt
