alembic
docker
flask>=2.0.0
Flask-Caching
flask_limiter
flask-oauthlib
flask_migrate
flask-sqlalchemy
gunicorn
kubernetes
parse
pyjwt
pymysql
python-dateutil
python-dotenv
python-magic==0.4.18
pytz
redis
rq
sqlalchemy-json
pandas
matplotlib
numpy
click==7.1.2
