# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Anubis API Test

defaults:
  run:
    shell: bash
    working-directory: api

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        set -x
        python -m pip install --upgrade pip virtualenv
        virtualenv -p $(which python3) venv
        if [ -f requirements/dev.txt ]; then ./venv/bin/pip install -r requirements/dev.txt; fi
    - name: Background API
      run: |
        set -x
        env MIGRATE=1 ./venv/bin/python3 dev.py &
    - name: Test with pytest
      run: |
        ./tests/mintest.sh
    - name: Teardown
      run: |
        killall -9 python3
